{% extends 'layout.html' %}
{% load i18n l10n static %}

{% block title %}{% trans 'Главная' %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/clndr.css' %}">
{% endblock %}
{% block body %}
    <div class="slider_wrap">
        <div class="main_slider ">
            {% for item in slider_events %}
                <div class="slider_item" style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('{{ item.cover_photo.url }}') ; background-size: cover; ">
                    <div class="slider_title">{{ item.title }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
        <h2>Последние новости</h2>
            {% for item in news %}
                <a href="#">
                    <div class="news_wrap">
                        <div class="news_prev_img">
                            <img width="95px" height="95px" style="object-fit: cover" src="{{ item.photo.url }}" alt="">
                        </div>
                        <div class="news_pref_text">
                            <div class="news_title">{{ item.title }}</div>
                            <div class="news_text">{{ item.text }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <a class="show_all_news" href="#">Смотреть все</a>
        </div>
        <div class="col-md-6">
            <h2>Календарь событий</h2>
            <div id="full-clndr" class="clearfix">
                <script type="text/template" id="full-clndr-template">
                    <div class="clndr-controls">
                        <div class="clndr-previous-button">&lt;</div>
                        <div class="clndr-next-button">&gt;</div>
                        <div class="current-month"><%= month %> <%= year %></div>

                    </div>
                    <div class="clndr-grid">
                        <div class="days-of-the-week clearfix">
                            <% _.each(daysOfTheWeek, function(day) { %>
                            <div class="header-day"><%= day %></div>
                            <% }); %>
                        </div>
                        <div class="days">
                            <% _.each(days, function(day) { %>
                            <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="event-listing">
                        <div class="event-listing-title">В этом месяце</div>
                        <% _.each(eventsThisMonth, function(event) { %>
                        <div class="event-item" data-event="<%= event.id %>">
                            <% if (event.type == 'class') { %>
                            <div class="event-item-type-class"></div>
                            <% } else if (event.type == 'fun') { %>
                            <div class="event-item-type-fun"></div>
                            <% } else if (event.type == 'pro') { %>
                            <div class="event-item-type-pro"></div>
                            <% } %>
                            <div class="event-item-name"><%= event.title %></div>
                        </div>
                        <% }); %>
                    </div>
                </script>
            </div>
        </div>
    </div>
<div class="container-fluid subscrip_bg">
    <div class="container">
        <div class="subscrip_wrap">
            <h2>Подпишитесь на наши обновления:</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ folow_form.email }}
                <button type="submit">Подписаться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/clndr.min.js' %}"></script>
    <script>
        moment.locale('ru');
        moment.updateLocale('ru', {
            months : [
                "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль",
                "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
            ]
        });
        // Здесь нужно указывать "type", по ним ставятся уникальные классы

        var events = {{ events|safe }}
        clndr = $('#full-clndr').clndr({
            template: $('#full-clndr-template').html(),
            daysOfTheWeek: ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'],
            events: events
        });
        console.log(events);
    $(function(){
        $('.event-item-type-class').on('hover', function(){

        })
    })
    </script>
{% endblock %}