{% extends 'layout.html' %}
{% load i18n l10n static %}

{% block title %}{% trans 'Главная' %}{% endblock %}
{% block body %}
    <div class="slider_wrap">
        <div class="slider_shadow"></div>
        <div class="main_slider ">
        {% for item in slider_events %}
            <img class="slider_item" src="{{ item.cover_photo.url }}" alt="">
        {% endfor %}
        </div>
    </div>




    <p>Ивенты в календарь</p>
    {% for item in events %}
        {{ item }}
    {% endfor %}

    <p>10 новостей</p>
    {% for item in news %}
        {{ item }}
    {% endfor %}
{% endblock %}