html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
}
body{
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
a{
  color: #080808;
}
a:hover{
  text-decoration: none;
}
.header_nav_menu{
background: linear-gradient(to right, rgba(0,94,88,1) 0%, rgba(2,204,197,1) 100%);
}
.header_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.slider_item{
  max-height: 305px;
  min-height: 305px;
}
.main_logo{
    margin: 20px 0;
}
.header_menu_items{
  margin-left: 15px;
  color: #ffffff;
  &:hover{
    color: #ccc;
  }
}
.slider_item{
    background-color: rgba(255, 255, 255, 0.7);
}
.slider_wrap{
  position: relative;
  .slider_shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.slider_title {
  color: #000000;
  font-size: 26px;
  margin-top: 100px;
  margin-left: 10%;
  width: 320px;
}
.news_wrap{
  display: flex;
  margin: 20px 0;
  .news_prev_img{
    margin-right: 25px;
  }
}
.subscrip_bg{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../img/Slider_1.jpg') ;
  background-size: cover;
  min-height: 230px;
  h2{
    text-align: center;
    margin: 25px 0;
  }
  input[type='text']{
    margin: 0 auto;
    display: block;
    padding: 9px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
  }
  button{
    color: #ffffff;
    border: none;
    background: rgba(2,204,197,1);
    margin: 25px auto;
    display: block;
    padding: 10px 25px;
    border-radius: 5px;
  }
}
footer{
  padding: 30px 0;
  background: url("../img/footer_background.png");
}
.footer_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thumbnail .legotech_image{
  width: 150px;
  height: 150px;
  margin-top: 15px;
  object-fit: cover;
}
.caption span p{
  min-height: 45px;
  max-height: 45px;
  overflow: hidden;
}
.modal-dialog{
  width: 320px;
}
.modal-body{
  form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    input[type='text'], .form_note{
      padding: 15px;
      margin-bottom: 18px;
      border: 1px solid #cccccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      resize: none;
    }
    input[type='submit']{
      padding: 9px 15px;
      background: #005e58;
      color: #ffffff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}
.library_table{
  tr{
    border-bottom: 2px solid #cccccc;
    td{
      max-width: 320px;
      padding: 13px 0;
    }
  }
}
