{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block meta_tags %}
        <meta property="og:url" content="" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="When Great Minds Don’t Think Alike" />
        <meta property="og:description" content="How much does culture influence creative thinking?" />
        <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
    {% endblock meta_tags %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/screen.css' %}">
        <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}" type="text/css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>

{% block header %}
{% endblock header %}

{% block body %}
{% endblock body %}

{% block footer %}
{% endblock footer %}


{% block extra_js %}

{% endblock extra_js %}

</body>
</html>
