{% extends 'layout.html' %}
{% load i18n l10n static %}

{% block title %}{% trans 'Гуманитарная помощь' %}{% endblock %}
{% block body %}
    <p><b>Детям</b></p>
    <ul>
        {% for item in for_kids %}
          <li>{{ item.title }}</li>
        {% endfor %}
    </ul>

    <p><b>Потенциальным спонсорам</b></p>
    {% regroup for_sponsors by get_type_display as sorted_items %}
    {% for item in sorted_items %}
        {{ item.grouper }}
        <ul>
        {% for i in item.list %}
          <li>{{ i.title }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}