{% extends 'layout.html' %}
{% load i18n l10n static %}

{% block title %}{% trans 'Леготека' %}{% endblock %}
{% block body %}
    <div class="container">
        <h2>Леготека</h2>
        <div class="row">
            <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    {% for category in categories %}
                        <li role="presentation" id="pill-{{ category.pk }}">
                            <a href="{% url 'legoteka:by_category' category.pk %}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="tab-{{ category.pk }}">
                        {% for item in items %}
                            <div class="col-md-4 col-sm-12">
                                <div class="thumbnail">
                                    <img src="{{ item.photo.url }}" class="legotech_image" height="150px" width="150px">
                                    <div class="caption">
                                        <span><p>{{ item|truncatechars:60 }}</p><h6>{% if item.available %}в наличии{% else %}нет в наличии{% endif %}</h6></span>
                                        <button type="button" {% if not item.available %}disabled{% endif %} class="btn btn-primary btn-lg order-btn" data-item_id="{{ item.id }}" data-target="#myModal">
                                            Подать заявку
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Заполните форму</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="order-item">
                        {% csrf_token %}
                        <div style="display: none;">{{ form.item }}</div>
                        {{ form.name }}
                        {{ form.contacts }}
                        {{ form.note }}
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
    <div class="popup_wrap"></div>
{% endblock %}
{% block extra_js %}
    <script>
        $(function(){
            var cat = {{ category.pk }};
            $('#pill-'+cat).addClass('active');
            $('#tab-'+cat).addClass('active');
            $('.order-btn').on('click', function(){
                $(this).addClass('chosen-item');
                var item = $(this).attr('data-item_id');
                $("#id_item").val(item);
                $('#myModal').modal('show');
            });
        });
    </script>
{% endblock %}