{% extends 'layout.html' %}
{% load i18n l10n static %}

{% block title %}{% trans 'Леготека' %}{% endblock %}
{% block body %}
    <div class="container">
    <h2>Леготека</h2>
        <div class="row">
            <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    {% for category in categories %}
                        <li role="presentation" id="pill-{{ category.pk }}">
                            <a href="{% url 'legoteka:by_category' category.pk %}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="tab-{{ category.pk }}">
                        {% for item in items %}
                            <div class="col-md-4 col-sm-12">
                                <div class="thumbnail">
                                    <img src="{{ item.photo.url }}" class="legotech_image" height="150px" width="150px">
                                    <div class="caption">
                                        <span><p>{{ item }}</p>{% if item.available %}<h6>в наличии</h6>{% endif %}</span>
                                        <p><a href="#" class="btn btn-default" role="button">Подать заявку</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    {{ form }}
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        $(function(){
            var cat = {{ category.pk }}
                    $('#pill-'+cat).addClass('active');
            $('#tab-'+cat).addClass('active');
        });
    </script>
{% endblock %}