{% extends 'layout.html' %}
{% load i18n l10n static %}

{% block title %}{% trans 'Библиотека' %}{% endblock %}
{% block body %}
    <div class="container">
        <h2>Библиотека</h2>
        <table class="library_table" width="100%">
            <tr class="table_header">
                <th>Название книги</th>
                <th>Краткое описание</th>
                <th>На руках у:</th>
                <th>Дата получения</th>
                <th>Дата возврата</th>
                <th>Скачать или <br> отправить заявку</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.holder }}</td>
                    <td>{{ book.receiving_date }}</td>
                    <td>{{ book.return_date }}</td>
                    <td>{% if book.book_file %}
                        <a href="{{ book.book_file.url }}">Скачать книгу</a>
                    {% else %}
                        <button type="button" class="order-btn" data-item_id="{{ book.id }}"
                                data-target="#myModal">
                            Подать заявку
                        </button>
                    {% endif %}</td>
                <tr>
            {% endfor %}
        </table>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Заполните форму</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post", id="order-item">
                            {% csrf_token %}
                            <div style="display: none;">{{ get_book_form.item }}</div>
                            {{ get_book_form.name }}
                            {{ get_book_form.contacts }}
                            {{ get_book_form.note }}
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_wrap"></div>
{% endblock %}
{% block extra_js %}
    <script>
        $(function(){
            $('.order-btn').on('click', function(){
                $(this).addClass('chosen-item');
                var item = $(this).attr('data-item_id');
                $("#id_item").val(item);
                $('#myModal').modal('show');
            });
        });
    </script>
{% endblock %}
